extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb.portfolio-breadcrumb-top
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-12.medium-9.large-9
        h1 Hen Friedmann
        p.lead.text-light
          | Web Developer
        .portfolio-bio
          p 
            | I am a web developer based in Israel, passionate about building web applications and continuously learning new skills. I have been working at Iscar Company for 3 years, where I have built static websites, answered support tickets, and worked on developing and maintaining an ERP system. Currently, I am involved in a major ERP transformation project, transitioning an old ERP system developed in the RPG programming language to a brand-new web interface.<br><br>
            | I am currently expanding my skills by enrolling in the 'Web Developer Bootcamp 2024' Full Stack JavaScript course on Udemy. This course covers Node, Express, SQL, MongoDB, REST APIs, React, and much more.<br><br>
            | After graduation, I pursued a practical engineering diploma in Electronics for 2 years. During this time, I took several programming courses that sparked my interest in the software world. Following that, I served in the IDF for 4 years in the Armored unit as the commander of electronics systems for the Merkava 3 Baz tank.<br><br>
            | Upon completing my service, I worked various jobs to save money for my PhD in programming. Eventually, I secured a student position as a QA / Web developer at Iscar. Unfortunately, due to personal issues, I had to pause my PhD studies after a year and a half. However, my dedication and performance led to my current role as a web developer at the same company.<br><br>
            | My education and experience have equipped me to succeed in a web development career. In my current job, I regularly build websites, demonstrating strong self-motivation and attention to detail. My goal is to build web applications using best practices and the latest technologies.
      .cell.portfolio-meta.small-12.medium-2.large-3
        h6 Skills
        ul.list
          li 
            span
              i.fab.fa-square-js.fa-lg
            |  JavaScript 

          li 
            span
              i.fab.fa-html5.fa-lg
            |  HTML 
          li 
            span
              i.fab.fa-css3-alt.fa-lg
              |  CSS / SCSS 
          li Express
          li EJS / PUG
          li 
            span
              i.fab.fa-github.fa-lg
              |  Git / Github
          li 
            span
              i.fab.fa-bootstrap.fa-lg
              |  Bootstrap 
          li 
            span
              | Foundation 
          li 
            span
              i.fab.fa-angular.fa-lg
              |  Angular 
          li 
            img(src="/static/images/cIcon.png")
            |  C
          li 
            span
              i.fab.fa-java.fa-lg
              |  Java 
          li bunch of APIs and more.
        h6 Contact Info
        ul.list
          li 
            a(href="mailto:hen_friedmann@outlook.com" target="_blank") hen_friedmann@outlook.com
        ul.social
          li
            a(href='linkedin.com/in/hen-friedmann-172054231' target='_blank' aria-label="Linkedin")
              i.fab.fa-linkedin-in
          li
            a(href='https://github.com/friedmannhen' target='_blank' aria-label="Github")
              i.fab.fa-github
  nav.grid-container.portfolio-breadcrumb.portfolio-breadcrumb-bot
    a(href='/') ← Back
