/*****************************

General

*****************************/
html {
  /* background: linear-gradient(
    to bottom,
    rgba(0, 58, 124, 0.9) 0%,
    rgba(41, 92, 150, 0.9) 50%,
    rgba(51, 156, 177, 0.9) 100%
  ); */
}
body {
  font-size: 16px;
  /* background: #2b8aa1; */
  /* overflow: hidden; */
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}
/* 
.image-bg {
  opacity: 0.5;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
} */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

h1 {
  color: #fff;
  font-size: 2.5rem;
}

h5 {
  font-family: "Roboto", sans-serif;
  letter-spacing: 2.5px;
  -webkit-text-transform: uppercase;
  text-transform: uppercase;
  color: #fff;
}

h6 {
  letter-spacing: 2.5px;
  -webkit-text-transform: uppercase;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  font-size: 1.3rem;
}

p {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  color: #fff;
}

.round {
  border-radius: 5px;
}

.text-light {
  color: #fff;
}

.image {
  display: inline-block;
  margin-bottom: 1rem;
  border-radius: 10px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  transition: 0.2s;
}
.link-image:hover {
  transform: scale(1.01);
}
.title-bar {
  background: #206580;
  border-bottom-left-radius:10px ;
  border-bottom-right-radius:10px ;
}

.title-bar-title {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  margin-left: 50px;
}

/*****************************

Sidebar

*****************************/

.portfolio-me {
  padding: 20px;
  background: url("../images/sideBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 95%;
  margin-top: 20px;
  overflow: hidden;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 30px 0 30px -30px #333 !important;
  color: #fff;
}

.portfolio-me::before {
  content: "";
  background: linear-gradient(
    to bottom,
    rgba(0, 58, 124, 0.9) 0%,
    rgba(69, 210, 238, 0.9) 100%
  );
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.portfolio-me h5 {
  color: #fff;
}

.portfolio-me p {
  color: #fff;
  font-size: 1rem;
}

.portfolio-me a {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  color: #3cf5ff;
  font-size: 0.813rem;
  letter-spacing: 2.5px;
  -webkit-text-transform: uppercase;
  text-transform: uppercase;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

/*****************************

Breadcrumb

*****************************/

.portfolio-breadcrumb {
  margin: 0;
  padding: 20px;
  background: transparent;
  transition: 0.5s;
}

.portfolio-breadcrumb a {
  transition: 0.5s;
}
.grid-container.portfolio-breadcrumb a:hover {
  font-size: 15px;
  color: red; /* Example change to test */
  text-decoration: underline; /* Example change to test */
}
.portfolio-breadcrumb.portfolio-breadcrumb-top {
  border-bottom: 1px solid #dbdada;
  border-bottom-style: dashed;
}

.portfolio-breadcrumb.portfolio-breadcrumb-bot {
  border-top: 1px solid #dbdada;
  border-top-style: dashed;
}
.portfolio-breadcrumb a {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 0.813rem;
  letter-spacing: 2.5px;
  -webkit-text-transform: uppercase;
  text-transform: uppercase;
  color: #fff;
}

/*****************************

Portfolio

*****************************/

.portfolio-intro {
  margin: 0;
  padding: 40px 20px;
}

.portfolio-heading {
  /* border-bottom: 1px solid #eaeaea; */
  margin-bottom: 40px;
  padding: 30px 20px;
  background: transparent;
  border-radius: 10px;
}

.portfolio-index {
  margin: 0;
  padding: 10px 20px;
}

/* .portfolio-index img {
  margin-bottom: 10px;
  border: 5px solid #fff;
  -webkit-box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.1);
          box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.1);
} */

.portfolio-index a {
  color: #222;
}

.portfolio-index .cell {
  margin-bottom: 15px;
}

.portfolio-index .cell h5 {
  letter-spacing: 1px;
  text-align: center;
  font-size: 1.188rem;
}
.portfolio-project .portfolio-meta {
  margin-bottom: 30px;
}
.off-canvas-content.has-reveal-left {
  height: 100vh;
}
.grid-container.portfolio-index {
  /* height: 100%; */
}
.portfolio-intro .grid-container.grid-x {
  padding: 20px;
}
.grid-container.portfolio-index .grid-x {
  overflow-y: scroll;
  height: 500px;
}

.grid-container.portfolio-index .grid-x::-webkit-scrollbar,
.portfolio-intro .grid-container .grid-x::-webkit-scrollbar {
  width: 6px;
}

.grid-container.portfolio-index .grid-x::-webkit-scrollbar-track,
.portfolio-intro .grid-container .grid-x::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.grid-container.portfolio-index .grid-x::-webkit-scrollbar-thumb,
.portfolio-intro .grid-container .grid-x::-webkit-scrollbar-thumb {
  background-color: #31b6bb8c;
  border-radius: 4px;
}
.grid-container.portfolio-index .grid-x::-webkit-scrollbar-thumb:hover,
.portfolio-intro .grid-container .grid-x::-webkit-scrollbar-thumb:hover {
  background-color: #31b6bb;
  cursor: move;
}
.scroll-indicator {
  position: fixed;
  font-size: 24px;
  color: #31b6bb;
  display: none; /* Initially hidden, will be shown via JavaScript */
}
.scroll-indicator-up {
  top: 260px;
  left: 885px;
}

.scroll-indicator-down {
  bottom: 90px;
  left: 885px;
}

.portfolio-meta {
  font-weight: 600;
}

.portfolio-meta .button {
  margin-bottom: 5px;
}

.portfolio-project p {
  border: none;
  padding-bottom: 0;
  font-size: 1rem;
}

.portfolio-project li {
  font-size: 1rem;
  color: #fff;
}

.portfolio-bio {
  line-height: 25px;
}

.list {
  list-style: none;
  margin-left: 0;
}

.social {
  list-style: none;
  margin-left: 0;
}

.social li {
  display: inline-block;
  margin-right: 15px;
}

.social li a {
  display: block;
  background: #31b6bb;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  line-height: 40px;
  -webkit-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
}

.social li a:hover,
.social li a:active {
  background: #177074;
}

.portfolio-link {
  display: block;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #31b6bb;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

.portfolio-link i {
  padding-right: 10px;
  font-size: 1.5rem;
}

.portfolio-link:hover,
.portfolio-link:active {
  color: #177074;
}
span .fab.fa-angular {
  color: #c3002f;
  position: relative;

}
span .fab.fa-angular::after {
  content: '';
  width: 13px;
  height: 13px;
  border-radius: 50%;
  position: absolute;
  top:-6px;
  left: 2px;
  z-index: -1;
  background-color: white;
}
span .fab.fa-bootstrap {
  color: #7d11f8;
  position: relative;

}
span .fab.fa-bootstrap::after {
  content: '';
  width: 17px;
  height: 17px;
  border-radius: 50%;
  position: absolute;
  top:-8px;
  left: 3px;
  z-index: -1;
  background-color: white;
}

span .fab.fa-github {
  color: #1f2328;
  position: relative;
  margin-right: 10px;
}
span .fab.fa-github::after {
  content: '';
  width: 17px;
  height: 17px;
  border-radius: 50%;
  position: absolute;
  top:-8px;
  left: 1px;
  z-index: -1;
  background-color: white;
}

span .fab.fa-css3-alt {
  color: #2862e9;
  position: relative;

}
span .fa-css3-alt::after {
  content: '';
  width: 12px;
  height: 12px;
  position: absolute;
  top:-6px;
  left: 1.5px;
  z-index: -1;
  background-color: white;
}
span .fab.fa-html5 {
  color: #e96228;
  position: relative;

}
span .fa-html5::after {
  content: '';
  width: 12px;
  height: 12px;
  position: absolute;
  top:-6px;
  left: 1.5px;
  z-index: -1;
  background-color: white;
}
span .fab.fa-square-js {
  color: #efd81d;
  background-color: black;
  width: 17px;
  height: 8px;
}

/*****************************

Media Queries

*****************************/

@media screen and (min-width: 768px) {
  .portfolio-intro {
    margin: 0;
    padding: 40px 100px 30px;
  }
  .portfolio-meta {
    padding-left: 20px;
  }
  .portfolio-heading {
    padding: 30px 50px;
  }
  .portfolio-index {
    padding: 10px 50px;
  }
}
